### CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
resources/.env
.idea
.qt
powa_bonk
powa_bonk_autogen

# Project exclude paths
/cmake-build-debug
/cmake-build-release
cmake-build-debug-coverage
/powa_bonk_autogen
/build
/test/tests_template.hpp
/test/resources/.env

# Test logs
test_log.txt
